<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    ><style>
       * {
            font-family: Arial, Helvetica, sans-serif;
        }
        body {
            background-color: brown;
        }
        label {
            color: white;
        }
        .btnstyle {
            background-color: skyblue;
            color: black;
            padding: 10px;
            border-radius: 8px;
            border: none ;
            margin: 10px;
            cursor: pointer;
            font-weight: bold;
         }
        </style>
    
</head>
<body>
    <form>
    <center><h1 style="color:white"; margin-top=5%>login</center>
    <div style="margin-left: 42%; margin-top: 5%">
    <label>roll no:</label>
    <p><input placeholder="enter roll number" type="text"/></p>
    <label>password:</label>
    <p><input placeholder="enter password" type="text"/></p>
    <a href="register.html">No Account</a>
    <button class="btnstyle">submit</button>
    </form>
    </div>
    
</body>
</html>